body,
div,
header,
footer,
nav,
section,
aside,
article,
ul,
dl,
dt,
dd,
li,
a,
p,
h1,
h2,
h3,
h4,
h5,
i,
b,
textarea,
button,
input,
select {
  padding: 0;
  margin: 0;
  list-style: none;
  font-style: normal;
  text-decoration: none;
  border: none;
  color: #313131;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
body:focus,
div:focus,
header:focus,
footer:focus,
nav:focus,
section:focus,
aside:focus,
article:focus,
ul:focus,
dl:focus,
dt:focus,
dd:focus,
li:focus,
a:focus,
p:focus,
h1:focus,
h2:focus,
h3:focus,
h4:focus,
h5:focus,
i:focus,
b:focus,
textarea:focus,
button:focus,
input:focus,
select:focus {
  outline: none;
}
iframe {
  border: none;
}
/*滚动条样式*/
::-webkit-scrollbar {
  /*滚动条里面轨道*/
  width: 6px;
  background-color: transparent;
}
::-webkit-scrollbar-thumb {
  /*滚动条里面小方块*/
  background-color: #8899a7;
  border-radius: 4px;
}
html,
body {
  height: 100%;
  width: 100%;
}
.clear:after {
  content: '';
  display: block;
  clear: both;
}
.clear {
  zoom: 1;
}
